/* Write your CSS here */
.planet-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
}

.unordered-list {
  list-style-type: none;
}
